.recommendedvideos{
    flex: 0.8;
    background-color: #f1f1f1;
    padding: 40px 20px;
    padding-bottom: 0;
}
.recommendedvideos >h2{
    margin: 0px 0px 20px 5px;
}
.recommendedvideos__video{
   display: flex;
   flex-wrap: wrap;
}